PORT=3000
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
GEMINI_MODEL=gemini-2.5-flash-lite
PROMPT_VERSION=v2
UPLOAD_DIR=./uploads
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-anon-key
